.row-name {
    margin-top: 40px;
  }
  
  .btn.active {
    color: #fff;
    background-color: #563d7c;
    border-color: #563d7c;
  }
  
  .column1 {
    text-align: center;
  }
  
  .column2 {
    text-align: center;
  }

  .userResignationForm
  {
    width: 400px;
    border: 1px solid #d6d7da;
    padding: 0px 15px 15px 15px;
    border-radius: 10px;
    font-family: arial;
    line-height: 16px;
    color: #faf8f8;
    font-size: 14px;
    background: #563d7c;
    margin: 100px auto;
    text-align: justify  ;
  }

  form label, form input {
    display: block;
     margin-bottom: 10px; 
    width: 90%;
  }
  
  form input {
    padding: 7px; 
    border: solid 1px #563d7c;
  
  }
  
  .button {
    background-color: #24a0ed;
    font-weight: bold;
    /* padding: 12px 15px; */
    color: #ffffff;
  }
  
  .errorMsg {
    color: #cc0000;
    margin-bottom: 12px;
  }
  
  .sucessMsg {
    color: #6B8E23;
    margin-bottom: 10px;
  }
  .Row{
    background-color:#1a2c3f;
  }

  
  
  
  